<%- include("../partials/header") %>

<div class='row'>
	<div class=col-md-4>
		<div class='thumbnail'>
			<h1 id='user-profile-name'>
				<%= user.firstName + " " + user.lastName %>
			</h1>
			<img id='user-profile-img' class='img-circle' src='<%= user.avatar %>' alt='user profile image'>
			<div id='user-profile-email' class='caption'>
				<a href='mailto:<%= user.email %>'> <%= user.email %> </a>
			</div>
		</div>	
	</div>
	<div class='col-md-8'>
		<h3>
			<%= user.username %>'s campgrounds:
		</h3>
		<ul>
		<% campgrounds.forEach(function(campground){ %>
			<li><a href='/campgrounds/<%=campground.id%>'><%= campground.name %></a></li> 
		<% }) %>
		</ul>
	</div>
	
</div>

<%- include("../partials/footer") %>